<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="dataPath" value="data"/>
    <add key="backupPath" value="backup.zip"/>
    <add key="serializationPath" value="serialization"/>
    <add key="booksPath" value="books.txt"/>
    <add key="authorsPath" value="authors.txt"/>
    <add key="housesPath" value="houses.txt"/>
    <add key="authorsPhotosPath" value="authorsPhotos"/>
    <add key="unknownPath" value="unknown.jpg"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>